<!DOCTYPE html>

<html>
  <head>
    <title>Welcome Page</title>
    <link rel="stylesheet" href="../static/main.css" type="text/css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" type="text/css" />
  </head>

  <body>
    <h2 class>Welcome, {{username}}!</h2>
    <nav>
    	<ul>
    		<p><li><a class="btn btn-info" href="../blog">[Go to blog]</a></li></p>
            <p><li><a class="btn btn-warning" href="../blog/signup">[Register Account]</a></li></p>
            <p><li><a class="btn btn-success" href="../blog/newpost">[New Post]</a></li></p>
            <p><li><a class="btn btn-inverse" href="../blog/logout">[Logout]</a></li></p>
        </ul>
    </nav>
  </body>
</html>
